/*
Error: Invalid CSS after "	px: true,": expected ")", was "%: true,"
        on line 3 of tests/lib/_unit.scss
        from line 12 of ./tests/test.scss

1: $sv-is-unit: test('is-unit', (
2: 	px: true,
3: 	%: true,
4: 	'string': false,
5: 	70px: false,
6: 	-90: false,
7: ));
8: 

Backtrace:
tests/lib/_unit.scss:3
./tests/test.scss:12
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/lexer.rb:221:in `expected!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:580:in `assert_tok'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:515:in `paren'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:498:in `special_fun'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:492:in `raw'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:406:in `funcall'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:387:in `ident'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_not'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_div'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_plus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `times_div_or_mod'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `plus_or_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `relational'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `eq_or_neq'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `and_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `or_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:361:in `space'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:345:in `interpolation'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `equals'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:571:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:486:in `block in arglist'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:460:in `loop'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:460:in `arglist'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:445:in `fn_arglist'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:407:in `funcall'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:387:in `ident'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_not'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_div'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:246:in `unary_plus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `times_div_or_mod'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `plus_or_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `relational'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `eq_or_neq'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `and_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:227:in `or_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:361:in `space'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:345:in `interpolation'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:293:in `expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:571:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/script/parser.rb:62:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1027:in `sass_script'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:607:in `variable'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:415:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	px: true,\": expected \")\", was \"%: true,\"\A         on line 3 of tests/lib/_unit.scss\A         from line 12 of ./tests/test.scss\A \A 1: $sv-is-unit: test('is-unit', (\A 2: 	px: true,\A 3: 	%: true,\A 4: 	'string': false,\A 5: 	70px: false,\A 6: 	-90: false,\A 7: ));\A 8: "; }
